body {
    background: none !important;
  }
  
  .page-header {
    background: url('https://github.com/dodviso/2025-ProjetLiDAR-BALLOT_BARBIERO_HECKENDORN_LIMA/blob/ca206a54a0e0389acb33e586e7ca54dc33272e8c/images/header.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
  }
  